<div block="gallery-block">
	<div elem="inner">
		<div elem="left">
			<div class="big-pic"></div>
			<div class="pic-list">
				<ul>
					<li>
						<a href="images/files/gallery-pic-5.jpg" class="active">
							<img src="images/files/gallery-pic-5.jpg" alt="">
						</a>
					</li>
					<li>
						<a href="images/files/gallery-pic-2.jpg">
							<img src="images/files/gallery-pic-2.jpg" alt="">
						</a>
					</li>
					<li>
						<a href="images/files/gallery-pic-3.jpg">
							<img src="images/files/gallery-pic-3.jpg" alt="">
						</a>
					</li>
					<li>
						<a href="images/files/gallery-pic-4.jpg">
							<img src="images/files/gallery-pic-4.jpg" alt="">
						</a>
					</li>
				</ul>
			</div>
		</div><!-- <= left -->
		<div elem="right">
			<div elem="title h4">Классическая фотопечать</div><!-- <= title h4 -->
			<div elem="title2">От 5 рублей</div><!-- <= title2 -->
			<div elem="text">
				<p>
					Перенесите лучшие воспоминания на профессиональную фотобумагу. Размеры по вашему выбору! (10 × 15 см, 15 × 21 см или 21 × 30 см). Этот формат никогда не выйдет из моды. Вы будете рады заново пересматривать их вместе с семьей или друзьями и вспоминать, когда родился ваш малыш или наслаждаться бронзовым загаром от летнего солнца! Окунитесь в ностальгию по самыми памятными моментам вашей жизни вместе с классической фотопечатью SPBPrinter. 
				</p>
			</div><!-- <= text -->
			<div elem="btn-wr">
				<a href="#" class="green-btn">Загрузить фото</a>
			</div><!-- <= btn -->
		</div><!-- <= right -->
	</div><!-- <= inner -->
</div><!-- /gallery-block -->