<div block="prices" mod="{{mod}}">
	<div elem="inner">
		<div elem="title" class="h2">
			Цены
		</div>
		<div elem="text">
			Знаете, где дешевле? Напишите нам, и мы сделаем вам специальное предложение. 
		</div>
		<div elem="table-wrap">
			<div elem="adaptive-table">
				<table elem="table">
					<thead>
						<tr>
							<td>
								
							</td>
							<td>
								Средняя цена <br/> по Санкт-Петербургу
							</td>
							<td>
								{{> logo}}
							</td>
							<td>
								Цена в самом крупном <br/> онлайн-фотоцентре страны
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								10x15см
							</td>
							<td>10 р.</td>
							<td>5 р.</td>
							<td>6,9 р.</td>
						</tr>
						<tr>
							<td>15x20см</td>
							<td>22 р.</td>
							<td>14 р.</td>
							<td>15 р.</td>
						</tr>
						<tr>
							<td>20x30см</td>
							<td>60 р.</td>
							<td>28 р.</td>
							<td>45 р.</td>
						</tr>
						<tr>
							<td>Доставка</td>
							<td>200 рублей, 2-3 дня</td>
							<td>120 рублей, 1-2 дня <a elem="choose-button" href="#">ВЫБРАТЬ ФОРМАТ</a></td>
							<td>240 рублей, 3-4 дня</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div><!-- b:prices -->