<div block="delivery" mod="{{mod}}">
	<div elem="inner">
		<div elem="title" class="h2">
			Доставка  
		</div>
		<div elem="text">
			 Быстро, близко и бесплатно. Три способа доставки на ваш выбор.
				Бесплатно доставим к вам домой при заказе от 2000р. 
		</div>
		<div elem="map">
			<div elem="map-block" id="map">
			</div>
		</div>
		<div elem="items-wrap">
			<div elem="items">
				<div elem="elem">
					<div elem="item">
						<div elem="item-img">
							<img src="images/files/map-item-1.png" alt="">
						</div>
						<div elem="item-title" class="h4">
							Бесплатно 
						</div>
						<div elem="item-text">
							Заберите ваш заказ у нас в офисе и не платите за доставку. Мы ждем вас. Энергетиков 70 к6 офис 103  
						</div>
						<div elem="item-time">
							<div elem="item-time-icon">
								<img src="images/files/map-item-time.png" alt="">
							</div>
							<div elem="item-time-text">
								На следующий день
							</div>
						</div>
						<div elem="item-button">
							Бесплатно
						</div>
					</div>
				</div>
				<div elem="elem">
					<div elem="item">
						<div elem="item-img">
							<img src="images/files/map-item-2.png" alt="">
						</div>
						<div elem="item-title" class="h4">
							Близко  
						</div>
						<div elem="item-text">
							43 пункта выдачи рядом со станцией метро или около вашего дома. Доставка в течении 1-2 рабочих дней. 
						</div>
						<div elem="item-time">
							<div elem="item-time-icon">
								<img src="images/files/map-item-time.png" alt="">
							</div>
							<div elem="item-time-text">
								1-2 рабочих дня
							</div>
						</div>
						<div elem="item-button">
							250 рублей
						</div>
					</div>
				</div>
				<div elem="elem">
					<div elem="item">
						<div elem="item-img">
							<img src="images/files/map-item-3.png" alt="">
						</div>
						<div elem="item-title" class="h4">
							Быстро 
						</div>
						<div elem="item-text">
							Оформите заказ до 18.00 и уже вечером мы привезем фотографии к вам домой или офис. 
						</div>
						<div elem="item-time">
							<div elem="item-time-icon">
								<img src="images/files/map-item-time.png" alt="">
							</div>
							<div elem="item-time-text">
								День в день
							</div>
						</div>
						<div elem="item-button">
							120 рублей
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- b:delivery -->