<div block="banner" mod="{{mod}}">
	<div elem="inner">
		<div elem="img">
			<img src="images/img/banner-img.jpg" alt="">
		</div>
		<div elem="content">
			<div elem="title">
				печать фотографий В санкт-петербурге
			</div>
			<div elem="text">
				Четыре стиля печати для вас и вашего дома <br/>
				Контроль качества каждого отпечатка <br/>
				Доставка заказа в этот-же день
			</div>
			<div elem="button">
				<button>
					Выбрать формат
				</button>
			</div>
		</div>
	</div>
</div><!-- b:banner -->