.logo
	display block
	color #fff
	font-family com
	font-size 22px
	font-weight bold
	text-transform uppercase
	letter-spacing 2px
	text-decoration none
	padding 7px 5px 4px 5px
	box-sizing border-box
	background linear-gradient(to right, #ffd33b 32.3%, #7fd1d2 32.3%)
	
	&:hover
		color: #fff