<div block="login-popup" mod="{{mod}}">
	<div elem="inner">
		<div elem="layout" mod="social">
			<div elem="layout-title">
				Вход через социальные сети
			</div>
			<div elem="social-buttons">
				<a href="#" elem="social-button" mod="vk">
					<span elem="social-button-icon">
						
					</span>
					<span elem="social-button-text">
						ВКОНТАКТЕ
					</span>
				</a>
				<a href="#" elem="social-button" mod="fb">
					<span elem="social-button-icon">
						
					</span>
					<span elem="social-button-text">
						FACEBOOK
					</span>
				</a>
				<a href="#" elem="social-button" mod="g+">
					<span elem="social-button-icon">
						
					</span>
					<span elem="social-button-text">
						GOOGLE+
					</span>
				</a>
				<a href="#" elem="social-button" mod="ya">
					<span elem="social-button-icon">
						
					</span>
					<span elem="social-button-text">
						YANDEX
					</span>
				</a>	
			</div>
		</div>	
	</div>
</div><!-- b:login-popup -->