<div block="printing" mod="{{mod}}">
	<div elem="inner">
		<div elem="title" class="h2">
			Фотопечать 
		</div>
		<div elem="text">
			Окунуться в ностальгию, создать уют дома или порадовать подарком любимых. <br/>
			Четыре стиля фотопечати и множество способов персонализации. 
		</div>
		<div elem="items">
			<div elem="elem">
				<a href="#" elem="item">
					<span elem="item-img">
						<img src="images/files/printing-img1.jpg" alt="">
						<span elem="item-label">					
							от 5р
						</span>
					</span>
					<span elem="item-content">
						<span elem="item-title">
							Классические фотографий
						</span>
						<span elem="item-text">
							Классическая печать форматом 10x15см, 15x21см или  21x30см проверенна временем.
						</span>	
					</span>
				</a>
			</div>
			<div elem="elem">
				<a href="#" elem="item">
					<span elem="item-img">
						<img src="images/files/printing-img2.jpg" alt="">
						<span elem="item-label">					
							от 6р
						</span>
					</span>
					<span elem="item-content">
						<span elem="item-title">
							Ретро фотографий
						</span>
						<span elem="item-text">
							Винтажные фотографии форматом 10x12см, 15x21см или 21x30см.
						</span>	
					</span>
				</a>
			</div>
			<div elem="elem">
				<a href="#" elem="item">
					<span elem="item-img">
						<img src="images/files/printing-img3.jpg" alt="">
						<span elem="item-label">					
							от 6р
						</span>
					</span>
					<span elem="item-content">
						<span elem="item-title">
							Квадратные фотографий
						</span>
						<span elem="item-text">
							Классическая печать форматом 10x15см, 15x21см или 21x30см проверенна временем.
						</span>	
					</span>
				</a>
			</div>
			<div elem="elem">
				<a href="#" elem="item">
					<span elem="item-img">
						<img src="images/files/printing-img4.jpg" alt="">
						<span elem="item-label">					
							от 15р
						</span>
					</span>
					<span elem="item-content">
						<span elem="item-title">
							Фотозакладки
						</span>
						<span elem="item-text">
							Винтажные фотографии форматом 10x12см, 15x21см или 21x30см.
						</span>	
					</span>
				</a>
			</div>
		</div>
	</div>
</div><!-- b:printing -->