<footer block="app-footer" mod="{{mod}}">
    <div elem="topline">
		<nav elem="menu">
			<ul>
				<li>
					<a href="#">Фотографии</a>
					<ul>
						<li><a href="#">Классические</a></li>
						<li><a href="#">Квадратные</a></li>
						<li><a href="#">Ретро</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Покупателям</a>
					<ul>
						<li><a href="#">Цены</a></li>
						<li><a href="#">Доставка</a></li>
						<li><a href="#">Оплата</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Компания</a>
					<ul>
						<li><a href="#">О нас</a></li>
						<li><a href="#">Реквизиты</a></li>
						<li><a href="#">Отзывы</a></li>
						<li><a href="#">Обратная связь</a></li>
					</ul>
				</li>
				<div elem="contacts">
					<div elem="contacts-title">
						Офис
					</div>
					<div elem="contacts-text">
						Санкт-Петребург
						Пр. Энергетиков 
						д. 70 к.6. оф.103
					</div>
				</div>
			</ul>
		</nav>
    </div>
    <div elem="middleline">
		<div elem="payment-methods">
			<img src="images/files/payment1.png" alt="">
			<img src="images/files/payment2.png" alt="">
		</div>
		<div elem="socials">
			<a href="#" elem="socials-item">
				<img src="images/files/tw.png" alt="">
			</a>
			<a href="#" elem="socials-item">
				<img src="images/files/vk.png" alt="">
			</a>
			<a href="#" elem="socials-item">
				<img src="images/files/fb.png" alt="">
			</a>
			<a href="#" elem="socials-item">
				<img src="images/files/inst.png" alt="">
			</a>
			<a href="#" elem="socials-item">
				<img src="images/files/you.png" alt="">
			</a>
		</div>
		<div elem="agreement">
			<a href="#">
				Пользовательское соглашение <br/>
				Политика конфиденциальности
			</a>
		</div>
    </div>
    <div elem="bottomline">
		<div elem="copy">
			Copyright 2017 SpbPrinter
		</div>
    </div>
</footer><!-- /app-footer -->
