<footer block="app-footer" mod="{{mod}}">
    <div elem="topline">
		<nav elem="menu">
			<li>
				Фотографии
				<ul>
					<li>Классические</li>
					<li>Квадратные</li>
					<li>Ретро</li>
				</ul>
			</li>
			<li>
				Покупателям
				<ul>
					<li>Цены</li>
					<li>Доставка</li>
					<li>Оплата</li>
					<li>FAQ</li>
				</ul>
			</li>
			<li>
				Компания
				<ul>
					<li>О нас</li>
					<li>Реквизиты</li>
					<li>Отзывы</li>
					<li>Обратная связь</li>
				</ul>
			</li>
		</nav>
		<div elem="contacts">
			<div elem="contacts-title">
				Офис
			</div>
			<div elem="contacts-text">
				Санкт-Петребург
				Пр. Энергетиков 
				д. 70 к.6. оф.103
			</div>
		</div>
    </div>
    <div elem="middleline">
		<div elem="payment-methods">
			<img src="images/files/payment1.png" alt="">
			<img src="images/files/payment2.png" alt="">
		</div>
		<div elem="socials">
			<a href="#" elem="item">
				<img src="images/files/tw.png" alt="">
			</a>
			<a href="#" elem="item">
				<img src="images/files/vk.png" alt="">
			</a>
			<a href="#" elem="item">
				<img src="images/files/fb.png" alt="">
			</a>
			<a href="#" elem="item">
				<img src="images/files/inst.png" alt="">
			</a>
			<a href="#" elem="item">
				<img src="images/files/you.png" alt="">
			</a>
		</div>
		<div elem="agreement">
			<a href="#">
				Пользовательское соглашение <br/>
				Политика конфиденциальности
			</a>
		</div>
    </div>
    <div elem="bottomline">
		<div elem="copy">
			Copyright 2017 SpbPrinter
		</div>
    </div>
</footer><!-- /app-footer -->
