<div block="gallery-text-block">
	<div elem="inner">
		<div elem="left-block">
			<div elem="title">Маленькая история о нашей фотопечати </div><!-- <= title -->
			<div elem="body">
				<p>
					Классическая фотопечать - это фото-эквивалент Маленького Черного Платья - классика! Только для вас мы выбрали лучшую фотобумагу на рынке – Fujifilm Cristal Archive, так как классика должна быть идеальной, чтобы со временем гарантировано не терять цвет и качество! Поставляется в милом крафт конверте, как в старые добрые времена! Наши классические фото доступны по цене и имеют 3 размера: 10 × 15 см, 15 × 21 см или 21 × 30 см. Простой дизайн идеально подходит для фотографий семьи, ваших друзей, ваших праздников и вечеринок … эти фотографии станут самыми любимыми!
				</p>
			</div><!-- <= body -->
		</div><!-- <= left-block -->
		<div elem="right-block">
			<div elem="title">Немного подробностей о наших классических фотографиях </div><!-- <= title -->
			<div elem="body">
				<p>
					• Размеры фотопечати: 10,2 × 15,2 см, 15,2 × 21 см или 21 × 30,5 см • Возможность добавить белую рамку шириной 5 мм 
					• Матовая или глянцевая отделка
					• Минимальный заказ 200 рублей • Фотопечать сейчас? Это всегда хорошая идея! 
				</p>
			</div><!-- <= body -->
		</div><!-- <= right-block -->
		<div elem="btn-wr">
			<a href="#" class="green-btn">Загрузить фото</a>
		</div><!-- <= btn-wr -->
	</div><!-- <= inner -->
</div><!-- /gallery-text-block -->