<div block="payment-block" mod="{{mod}}">
	<div elem="inner">
		<div elem="title" class="h2">
			Оплата  
		</div>	
		<div elem="text">
			Наличные, кредитная карта или онлайн платежи?
			Выберите наиболее подходящий вариант. 
		</div>
		<div elem="items">
			<div elem="item">
				<div elem="item-title">
					Наличные.
				</div>
				<div elem="item-text">
					Этот вариант доступен всегда. Вы можете оплатить заказ в пунктах выдачи, при самовывозе из нашего офиса или при получении курьеру. 
				</div>
			</div>
			<div elem="item">
				<div elem="item-title">
					Онлайн-платежи. 
				</div>
				<div elem="item-text">
					Благодаря этой системе вы можете оплатить заказ электронными деньгами 1, 2, 3, 4, 5. Оплата производится на сайте после оформления заказа.
				</div>
			</div>
			<div elem="item">
				<div elem="item-title">
					Банковские карты. 
				</div>
				<div elem="item-text">
					Оплачивайте картой при получении в пунктах выдачи или на нашем сайте. Оплатить можно банковскими картами VISA или MasterCard. 
				</div>
			</div>
		</div>
	</div>
</div><!-- b:payment-block -->