<div block="about" mod="{{mod}}">
	<div elem="inner" mod="{{mod}}">	
		<div elem="title" class="h2">
			О нас
		</div>
		<div elem="items">
			<div elem="elem">
				<div elem="item" mod="img">
					<img src="images/files/about-img.jpg" alt="">
				</div>
			</div>
			<div elem="elem">
				<div elem="item" mod="text">
					Мы сотрудничаем с фотостудиями по всей России уже 10 лет. 
					В 2016 году каждый двадцатый ребёнок страны получил фотографию, которую напечатали в нашей фотолаборатории.
					  Для печати мы используем две высокоскоростные фотолаборатории Fujifilm LP5700 и профессиональную фотобумагу Fujifilm Cristal Archive с содержанием серебра. Чтобы к вам попали только яркие и четкие фотографии, каждый отпечаток просматривает оператор.
					  Мы рады, что можем поделиться с вами нашими идеями. Используйте различные стили печати и множество способов персонализации, которые позволят украсить ваш дом или окунуться в ностальгию. А быстрая доставка и низкие цены станут для вас приятным дополнением.

					<div elem="author">
						<div elem="author-img">
							<img src="images/files/about-author.jpg" alt="">
						</div>
						<div elem="author-text">
							<div elem="author-name">
								АЛЕКСАНДР		
							</div>
							<div elem="author-post">
								Руководитель производства
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div><!-- b:about -->